a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:orange;
}

.mat-list {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

.left-bar-item {
  width: 100%;
  /* border-style: solid; */
  display: flex;
  align-items: center;
}

.left-bar-item-icon {
  margin-right: 10px;
}

.right-bar-item {
  padding: 5px;

  border: 0.7px solid;
  border-radius: 10px;
  border-color:#e0e0e0;
}
