.header {
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo-container {
  margin-left: 8%;
  width: 20%;
  height: 120px;
}
.header-logo {
  margin-top: calc((120px - 60px) / 2);
  height: 50%;
}

.header-search-bar {
  width: 40%;
  margin-left: 2%;
}

.profile-button {
  margin: 0 0 0 23.5%;
}

